#project {
  background-color: #191919;
}
#cardProject{
/* From https://css.glass */
background: rgba(109, 108, 108, 0.31);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(109, 108, 108, 0.26);
}
.card-img img{
  height: 150px;
  border-radius: 5px;
}