#contact{
    background-color: #1B2223;
}
.email .mail img{
    width: 35px;
    height: 38px;
}
li .linkedin .icon{
    color: #0e76a8  !important;
    width: 34px;
    height: 34px;
}
.whatsapp .icon img{
    width: 35px;
    height: 35px;
}
.instagram .icon img{
    width: 33px;
    height: 33px;
}
.twitter .icon img{
    width: 35px;
    height: 35px;
}
.online{
    color: #0FFF50;
}