#contact{
    background-color: #1B2223;
}
.email:hover{
    background-color: #D54B3E !important;
}
.linkedin:hover{
    background-color: #0e76a8  !important;
}
.instagram:hover{
    background-color: #C32AA3 !important;
}
li{
    color: #0FFF50;
}



@media (max-width: 767px) {
  .email{
    background-color: #D54B3E !important;
}
.linkedin{
    background-color: #0e76a8  !important;
}
.instagram{
    background-color: #C32AA3 !important;
}
}